    .onoffswitch {
        position: relative; width: 37px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #D5D3D3; border-radius: 23px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
        font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
        border-radius: 23px;
        box-shadow: 0px 11.5px 0px rgba(0,0,0,0.08) inset;
    }
    .onoffswitch-inner:before {
        content: "";
        padding-left: 8px;
        background-color: #FFFFFF; color: #595959;
        border-radius: 23px 0 0 23px;
    }
    .onoffswitch-inner:after {
        content: "";
        padding-right: 11px;
        background-color: #f15927; color: #FFFFFF;
        text-align: right;
        border-radius: 0 23px 23px 0;
    }
    .onoffswitch-switch {
        display: block; width: 23px; margin: 0px;
        background: #FFFFFF;
        border: 2px solid #D5D3D3; border-radius: 50%;
        position: absolute; top: 1px; bottom: 0; right: 13px;
        -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
        background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
        background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
        background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
        background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
        box-shadow: 0 1px 1px white inset;
        height: 25px;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }

.linh_title_song{
	padding: 6px;
	position: relative;
	left: 3%;
  cursor: pointer;
  font-weight: 700;
}
.linh_title_song:hover {
  color: #f15927 !important;
}
.my_list_group{
	max-width: 500px;
	margin-bottom:0px;
	z-index: -1;
}
.my_list_group_item{
	padding: 0px;
	border:none;
}
#song{
	max-width: 498px;
	-webkit-box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.75);
	z-index: 10;
    max-height: 300px;
    overflow: auto;
    position: absolute;
    width: 93%;
}
.input_timepicker{
    width: 50px;
    border: 2px solid #CCC;
    line-height: 20px;
    height: 29px;
    border-radius: 10px;
    padding: 5px;
}
.linh_add_btn {
  cursor: pointer;
  position: absolute;
  right: 12px;
  background: #FFFFFF none repeat scroll 0% 0%;
  font-family: "Times New Roman",Georgia,serif;
  font-size: 16px;
  font-weight: bold;
  height: 32px;
  width: 58px;
  top: 9px;
  background: #f15927;
  border: 1px solid #EEEEEE;
  color: #ffffff;
}
.linh_add_btn:hover {
  border: 1px solid #f15927;
  background: #FFFFFF;
  color: #f15927;
}
.my_onoffswitch {
    position: absolute;
    right: 51px;
    bottom: 2px;
}
.my_item{
    padding: 3px;
}
.my_item:hover {
  border: 1px solid #f15927;
}
.linh_badge{
    background: white;
    position: absolute;
    top: 0px;
    right: 5px;
}
#linh_img {
    height: 56px;
    width: 51px;

}
.del {
    position: absolute;
    right: 5px;
    top: 2px;
}
.del img {
  height: 30px;
  width: 41px;
  cursor: pointer;
}


#linh_settime{
    max-width: 250px;
}
#linh_table{
    text-align: center;
}
#linh_model_content {
    height: 276px;
}
.linh_panel {
    text-align: center;
    font-size: 27px;
    font-family: "Times New Roman", Georgia, Serif;
    padding: 0px;
    cursor: pointer;
}

.linh_done {
  cursor: pointer;
  font-weight: bold;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 19px;
  padding: 10px 92px 2px 92px;
  color: #221313;
}

/*Firefox
.linh_done {
    cursor: pointer;
    font-weight: bold;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 19px;
    padding: 11px 30px 11px 30px;
    color :#4B2222;
}
.linh_hover{
    cursor: pointer;
}
.linh_hover input {
    border: 0px none;
    width: 38px;
    height: 34px;
    font-size: 32px;
}*/
.linh_hover {
  cursor: pointer;
  padding: 3px !important;
}
.linh_hover:hover{
    font-weight: bold;
}

.linh_hover input {
  border: 0px none;
  width: 38px;
  height: 40px;
  font-size: 32px;
  padding: 0px;
}
.linh_hover input:focus{
  outline: 0px;
}
.linh_hover img{
    width: 25px;
}
.text_class {
    width: 64px;
    height: 30px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-radius: 8px;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
    font-family: "Times New Roman", Georgia, Serif;
}
.text_class_songs {
  width: 28px;
  height: 33px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border: 0px;
  color: #f15927;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
  font-family: "Times New Roman", Georgia, Serif;
}
#linh_default{
    height: 276px;
}
#linh_ol{
    padding: 0px;
}
#linh_title{
    font-weight: bold;
    font-size: 22px;
    font-family: "Times New Roman", Georgia, Serif;
    color: #221313;
}
/*FireFox
#number_songs {
    width: 45px;
    height: 26px;
    font-size: 25px;
    border: 0px;
}
#linh_songs{
    font-weight: bold;
    font-size: 17px;
    font-family: "Times New Roman", Georgia, Serif;
    color: #4B2222;
}*/
#number_songs {
  width: 29px;
  height: 32px;
  font-size: 25px;
  border: 0px;
}
#number_songs:focus {
  outline: 0px;
}

#linh_songs {
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", Georgia, Serif;
  color: #221313;
  position: absolute;
  bottom: 38px;
  left: 35px;
}
.character{
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 18px;
  cursor: pointer;
}
.linh_list_search:hover{
  border: 2px solid #f15927;
};
.linh_end {
    position: relative;
    left: 67px;
}
#songs_area select {
    height: 35px;
    border: 0px;
    text-align: center;
    border-radius: 2px;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
}
#songs_area td {
    padding: 0px;
    width: 107px;
}
#set_end {
  position: absolute;
  right: 22px;
}
input.end_time {
    width: 30px;
    height: 33px;
    font-size: 25px;
    border: 0px;
}
input.end_time:focus{
  outline: 0px;
}
#songs_area span{
  font-weight: bold;
}
div#change_area {
    display: inline;
}
button.btn.dropdown-toggle.btn-default {
    margin: 0px;
    border: 0px;
    height: 34px;
}
input.text_end {
    width: 74px;
}
.limit_character{
  font-size: 19px;
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: bold;
}
