
form input{
   margin-bottom: 2px;
}


.top{
width: 400px;
margin: auto;

  border: 1px solid #72B372;
  border-radius: 1px;
  box-shadow: 1 1 10px 0 #000000;

}
.panel-heading a{
  float: right;
  font-size: 15px;
  margin-top: 10px;
}
.sep {
  border: 1px solid #EEEEEE;
  position: relative;
  margin: 10px 20px;
}
.or {
  position: absolute;
  width: 50px;
  left: 50%;
  background: #FFFFFF;
  text-align: center;
  margin: -10px 0 0 -25px;
  line-height: 20px;
}

nav{
  background: #000000;
}

#search{

  
  
}
.thame {
  background: #FFFFFF none repeat scroll 0% 0%;
  padding: 1px;
  position: relative;
  top: -10px;
  bottom: -10px;
}
.thame h3{
margin-top: 0;
}

.img-responsive{

  height: 300px;
}

.vote{
  margin-top: 10px;
  height: 300px;
}
.body1 {
    margin-top: -20px;
}

.collapse{
  float: right;
}

.btn1{

float: right;
}
.btn{
  margin-top: 2px;
}

.ftb{
  width: 80px;
  position: relative;
  top:15px;

}

.tablelist{
  padding-top: 5px;
  position: relative;
  top:5px;
}

.tablelist th:hover{
 color: #ae4ad9;
 cursor:pointer;
}

.up{
  position: relative;
  right: 1px;
}

.listm{
  margin-bottom: -10px;
  margin-top: -15px;
  padding: -10px;
 

}

.list1{

  border: 1px solid #dedede;
  padding-bottom: 2px;
  position: relative;
}
.list1 h2{
  color: rgb(0, 0, 0);
  font-family:"Open Sans","segoe ui",Helvetica,Arial,sans-serif;
  font-weight:300;
}
.list1 table{
  color: rgb(0, 0, 0);
  font-family:"Open Sans","segoe ui",Helvetica,Arial,sans-serif;
  font-weight:300;
}
.list1:hover{
  background-color:#F8F8F8;
}

.list1 table tr td{
  color: #76209b;
  font-weight:600;
}
.list1 table tr th{
  font-size: 15px;
}

.routbtn {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mybtn {
  /*text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  right: 12px;
  background: #FFFFFF none repeat scroll 0% 0%;
  font-family: "Times New Roman",Georgia,serif;
  font-size: 16px;
  font-weight: bold;
  height: 32px;
  width: 58px;
  top: 9px;
  border: 1px solid #ae4ad9;
  color: black;*/
  background: #FFFFFF none repeat scroll 0% 0%;
  font-family: "Times New Roman",Georgia,serif;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #ae4ad9;
  color: black;
}
.mybtn:hover{
  background: #C34EF5;
  border: 1px solid #EEEEEE;
  color: white;
}
.myfont ul li ul li a{
text-transform: uppercase;
font-family:"Open Sans","segoe ui",Helvetica,Arial,sans-serif;
font-weight:470;
font-size: 14px;
color: rgb(0, 0, 0);
}

.myfont ul li ul li a:hover{
  color: #ae4ad9;
}

.myfont ul li{

font-family:"Open Sans","segoe ui",Helvetica,Arial,sans-serif;
font-weight:500;
font-size: 15px;
}

#btn_login{
  text-transform: uppercase;
  font-family:"Open Sans","segoe ui",Helvetica,Arial,sans-serif;
  font-weight:400;
  font-size: 15px;
  color: #FFFFFF;
}

#btn_register{
  text-transform: uppercase;
  font-family:"Open Sans","segoe ui",Helvetica,Arial,sans-serif;
  font-weight:400;
  font-size: 15px;
  color: #FFFFFF;
}
@font-face {
  font-family: toan;
  src: url(fonts/breakaway.ttf);
}
#user{
  text-transform: uppercase;
  font-family: toan;
  font-weight:400;
  font-size: 30px;
  color: #FFFFFF;
}

#user:hover{
  color: #ae4ad9;
}

#btn_login:hover{
  color: #ae4ad9;
}

#btn_register:hover{
  color: #ae4ad9;
}

.myfont1{
  font-family: Roboto Slab,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #fed136;
}

.table3{



}
.ima{
  position: relative;
  padding: -50px;
  margin-top: -10px;
  margin-bottom: -10px;

}

.iconm{
  position: relative;
  top:-10px;
}
.body2{
  position: relative;
  top:-20px;
}

#passconf{
  display: none;
}

#newuser{
  display: none;
}

#newmail{
  display: none;
}

.manata{
  background: #fffaaa;
   margin-top: 5px;
  box-shadow: 2px 2px 2px #000;
  margin-bottom: 500px;
}
.manata th{
  font-size: 30px;
}
.kaka{
  background: #fff;
}

.tb{
  width: 100%;
}
.tb2{
  width: 500px;
}
.tb3{
  float: right;
}
.tbmenu{
  padding-left: 10px;
  text-align: center;
  margin-right: 19px;
}

.votec{
  background: none;
  font-size: 17px;
  font-family: fantasy;
  color: yellow;
  position: relative;
  right: 22px;
  top: -2px;
}



.navbar-collapse.in{
  overflow: visible;
}
#icback img{
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#icback img:hover {   
  opacity: 1.0;
  filter: alpha(opacity=100);

}

.khai-feedback{
  background: #fff;
  text-align: center;
  color: blue;
}

.iconvote img{
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.iconvote img:hover {   
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.khai-play{
  cursor:pointer;
}

.lk_admin{
  background-color: #aaa;
  text-align: center;
  border-color: #aaa;
  border-style: solid;
    border-width: 2px;
}
