h1{
	color: #AAAAAA;
}

.audio-player,
.audio-player div,
.audio-player h1,
.audio-player a,
.audio-player img,
.audio-player span,
.audio-player button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

div.audio-player {
	margin: 10px;
	position: relative;
	width: 480px;
	height: 200px;
	box-shadow: 3px 3px 5px grey;

	background: #339933;
	background: -webkit-linear-gradient(top, #E0DCD8 0%, #222222 100%);
	background: -moz-linear-gradient(top, #E0DCD8 0%, #222222 100%);
	background: -o-linear-gradient(top, #E0DCD8 0%, #222222 100%);
	background: -ms-linear-gradient(top, #141414 0%, #161514 100%);
	background: linear-gradient(top, #141414 0%, #161514 100%);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.audio-player h1 {
	position: absolute;
	bottom: 55px;
	left: 220px;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #288CD8;
	text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}


.audio-player .logo{
	position: absolute;
	top: 0;
	right:0;
}

.audio-player .cover1 {
	position: absolute;
	top: 5;
	left: 10;
}
.audio-player .cover {
	position: absolute;
	top: 5px;
	left: 70px;
	border-radius: 100%;
	
}



.audio-player #myCanvas{
	width: 0px;
height: 20px;
	background: red;
	position: absolute;
	bottom: 0px;

}
.audio-player .bar{
position: absolute;
bottom: 0px;
right: 0px;
left: 0px;
padding-left: 50px;
padding-top: 15px;
background: rgb(19, 19, 19);
}


.avata{
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;

overflow:hidden;

}

.avata:hover
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}

